@media only screen and (min-width: 32.5rem) {

    /* Menu */
    
    /*title*/

    section.title .title__div {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
    }
    
    section.title .title__network {
      max-width: 90%;
    }

    section.title .title__profile {
      width: 30vw;
    }
    
    section.title .title__network , .title__network__item a{
      color: var(--secondary-color);
      font-size: .9em;
    }

    /*About me*/

    section.aboutme .about__container {
      max-width: 95vh;
    }
    
    /* Skills/ Hobbies */

    section.skills .skills__box, .hobbies__box {
      width: 25vw;
      max-width: 25vh;
      height: 15vw;
      max-height: 20vh;
    }
    
    /*Experiências acadêmicas*/
    
    /*Expeirência profissional*/
    
    }